body {
  background: url('../images/1.jpg') 0 0 no-repeat;
  background-size: cover;
}
#pattern {
  background: #161616 url(../images/pattern.gif) 0 0 repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
}
#chat-window {
  bottom: 0;
  position: fixed;
  right: 25px;
}
#chat-window .col-md-2,
#chat-window .col-md-10 {
  padding: 0;
}
#chat-window .top-bar {
  padding: 10px;
  position: relative;
  overflow: hidden;
}
#chat-window .panel {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0px;
}
#chat-window .msg_container_base {
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height: 350px;
  overflow-x: hidden;
}
#chat-window .msg_container_base .msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}
#chat-window .msg_container_base .base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
#chat-window .msg_container_base .base_sent .avatar {
  position: relative;
}
#chat-window .msg_container_base .messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
#chat-window .msg_container_base .messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}
#chat-window .msg_container_base .messages > time {
  font-size: 11px;
  color: #ccc;
  float: right;
}
#chat-window .msg_container_base .msg_sent {
  padding-bottom: 20px !important;
  margin-right: 0;
}
#containerUser {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(255, 255, 255, 0.12);
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 20px;
  margin-left: -150px;
}
